.navigation-container1 {
  display: contents;
}
 
.navigation-container2 {
  display: none;
}
 
.navigation-container3 {
  display: contents;
}
 
.navigation-navigationtoggle-icon1 {
  top: 50%;
  left: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  opacity: 1;
  position: absolute;
  transform: translate(-50%, -50%);
  transition: opacity 0.2s var(--animation-curve-primary),
      transform 0.3s var(--animation-curve-primary);
  align-items: center;
  justify-content: center;
}
 
.navigation-navigationtoggle-icon2 {
  top: 50%;
  left: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  opacity: 0;
  position: absolute;
  transform: translate(-50%, -50%);
  transition: opacity 0.2s var(--animation-curve-primary),
      transform 0.3s var(--animation-curve-primary);
  align-items: center;
  justify-content: center;
}
 
.navigation-container4 {
  display: none;
}
 
.navigation-container5 {
  display: contents;
}
 
.navigation-container6 {
  display: none;
}
 
.navigation-container7 {
  display: contents;
}
